/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap'); */


@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300;400;600&display=swap');


* {
	margin: 0px;
	padding: 0;
	outline: none;
	box-sizing: border-box;
	list-style: none;
				/*=====CSS rules to specify families======*/
	font-family: 'Mukta', sans-serif
}

body{
	overflow-x: hidden;
	font-size: 18px;
	color:#000;
	line-height:1.5
}
* img{
	max-width: 100%;
	width: 100vw;
}
* a{
	transform: all .3s ease-in-out 0s;
	text-decoration: none;
}
* ul{
	padding-left: 0px;
	margin-bottom: 0px;
}
.current{
	color:rgb(146 0 59);
	font-size:clamp(1em, 2vw, 1.2rem);
	font-weight:600
}
.hover-text a:hover{
	color:rgb(146 0 59);
}
.card-bottom-border{
	border-bottom:1px solid #d7d0d07a;
}
/*=========cadr-show=========*/
.card-show {
	box-shadow: 0px 3px 15px -11px rgb(146 0 59 / 65%);
}
/*=========cadr-show=========*/

.news-card > a{
	color:#000


}




/*=========top-menu=========*/
.navbar{
	border-bottom: 1px solid #ddd;
    color: rgb(146 0 59);
    font-weight: 500;
    height: max(4.2vw, 3.5em);
}
.navbar .navbar-nav .nav-link{
	color: rgb(146 0 59);
	font-size: .90em;
	font-weight: 600;
	letter-spacing:.1px;
}
.navbar .navbar-nav::nth-child(1){
	background-color: #9d2e5b;
}
.navbar .navbar-nav{
	flex:1;
	justify-content: center!important;
}
.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
	background-color: #92003b;
}
.fixed-top .navbar-nav .nav-link{
	color: #fff
}
.fixed-top .navbar-toggler .toggler-icon{
	background: #fff
}

	/*=============mobile=menu====End==============*/
/*=========navigation==Button===start==*/
.navbar-toggler {
	width: 20px;
	height: 24px;
	position: relative;
	transition: .5s ease-in-out;
	margin-top: 20px;
	display: flex;
	justify-content: space-around;
	cursor: pointer;
}
.navbar-toggler .toggler-icon{
	display: block;
	position: absolute;
	height: 2px;
	width: 100%;
	background:#92003b;
	border-radius: 1px;
	opacity: 1;
	transition: .3s ease-in-out;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus{
	box-shadow: none;
	outline: none;
	border: 0;	
}
.navbar-toggler .top-bar {
	margin-top: -8px;
	transform: none;
	cursor: pointer;
}

.navbar-toggler .middle-bar {
	opacity: 1;
}

.navbar-toggler .bottom-bar {
	margin-top: 8px;
	transform: none
}

/*=========navigation==Button===End==*/

/*=========search-form==========*/
.search-form{
	border-radius: 50px;
	box-shadow: none;
	display:flex;
	align-items:center;
	border:1px solid #92003b;
	justify-content: center;
	overflow-x: hidden;
	width: 140px;
	background-color: #fff;
	margin-left:1vw
}
.search-form i{
	background:  #92003b;
	padding-inline: .7vw;
	padding-block: .2rem;
	color:#fff
}


/*=========search-form======End====*/


/*=========search-form==========*/
.category-menu{
	display:flex;
	margin-bottom: 0px;
	list-style: none;
	padding: 20px;
	align-items: center;
    width: 100%;
    overflow-x: auto;
}
.category-menu li a{
	padding: min(1vw, 1em, .5rem) 1rem;
	color: rgb(16, 3, 73);
	border: 1px solid rgb(16, 3, 73);
	font-size: clamp(calc(1em - 2px), 1vw, 1rem);
	font-weight: 500;
	border-radius: 50px;
	text-decoration: none;
	margin-inline: calc(1rem - 8px + 5px);
	width: max-content;
	display: flex;
	align-items: center;
}

.category-menu li a:hover,
.category-menu li a:active,
.category-menu li a:focus{
	background-color: rgb(16, 3, 73);
	color: rgb(255, 255, 255);
}

/*============left====content==============*/


.left-news-title a span{
	color: rgb(146 0 59);
}
.left-news-title a{
	color:#000
}

		
/*==============midlle-contant=================*/

.middle-footer-text{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.middle-footer-text ul li{
	display: flex;
	align-items: center;
	gap:1rem;	
}
.middle-footer-text ul li a{
	color:rgb(161, 159, 159);
	font-size: 1.1em;
}
.middle-footer-text ul li a:hover,
.middle-sin-news ul li a:hover{
	color:rgb(243, 129, 129)
}
.middle-sin-news ul li a img{
	height:120px;
	aspect-ratio: 2.2 / 1;
	display: block;
	object-fit: cover;
}
.middle-sin-news ul li a{
	display: flex;
	gap:1.4rem;
	color:rgb(167, 160, 160);
	margin-block:2rem;
	box-shadow: 0 0 10px -6px rgb(180, 176, 176);
	padding: 5px
}
.middle-sin-news .news-title h5{
	font-size: 16px;
	line-height: 26px;
}
.middle-new h4 a{
	color:#000
}
.middle-new h4 a:hover{
	color:rgb(146 0 59);
}
.news-timing{
	display: flex;
	justify-content:space-between;
	color: rgb(128, 124, 124);
	font-size:1rem
}
.news-timing a{
	color:rgb(146 0 59);
}
/*==============midlle-contant=================*/
:root {
	--bs-base-color: #fff;
	--bs-flex-disp: flex;
}
.small-1,
.small-2,
.small-3,
.small-4{
	padding-bottom: 12px;
}
.article{
	position: relative;		
}
.article a{
	color:#fff;

}
.article a:hover{
	color:rgb(146 0 59);
}
.article img{
	width: 100%;
	max-width: 100%;
	display: block;
	border-radius: 10px;
}
.overlay-content{
	position: absolute;
	inset: auto auto 0;
	color:rgba(255, 255, 255, 1);
	padding: min(calc(1rem - 2px), 15px);
}
.overlay-content .news-subject{
	background-color: #f70d28;
	color:rgba(255, 255, 255, 1);
	border-radius:5px;
	width: fit-content;
	font-weight: 500;
}
.overlay-content ul li{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	gap:1rem;
	border-right:1px solid var(--base-text-color-);
}
.big .overlay-content .news-subject{
	padding: .2rem .5rem;
}
.right-new :is(.col-sm-4, .col-sm-8){
	margin-block: 2vmin;
}

.right-carg-img img{
	border-radius: 50%;
}
.right-carg-text:first-child a {
	font-size: 16px;
	font-weight: 600;
	opacity: .9;
	display: inline-block;
	color:rgb(128, 124, 124);
}
.right-carg-text a:nth-child(2) {
	font-size: 2.3vmin;
	font-weight: 700;
	color:rgb(146 0 59);
	padding-block: .5rem ;
	text-decoration: underline;
}
.right-carg-text a:nth-child(2):hover{
	color:rgb(146 0 59);
}


/*=========top-main===heading=====*/

.top-new-heading{
	position: relative;
    display: flex;
    justify-content: center;
    padding-block: 22px;
    font-size: 4vmin;
    font-weight: 700;
}
.top-new-heading::before{
	position: absolute;
	content: '';
	background:rgb(146 0 59);
	height:4px;
	inset: 0 auto ;
	z-index: -1;
	width: 100%;
}
.top-new-heading::after{
	position: absolute;
	content: '';
	inset: 0 auto;
	z-index: 1;
	border-top: 16px solid rgb(146 0 59);
	border-left: 18px solid transparent;
 	border-right: 18px solid transparent;
}
/*=========top-main===heading=====*/


.braking-news  marquee {
	color:rgb(146 0 59);
	 
	padding: .5rem  1rem;
	font-weight: 600;
}
/*================footer===============*/
footer{
	background-color:rgb(146 0 59);
}
.footer-top{
	color:#fff;
	display:flex;
	align-items:center;
	justify-content:space-between;
	padding: .5rem 1rem;
	border-block: 1px solid #e7e2e2;
	flex-wrap: wrap;
}
.footer-follow-menu ul li + li a{
	font-size:clamp(1rem, 2vw, 1.1rem);
	background-color: #fff;
	border-radius:2px;
	color:rgb(146 0 59);
	padding: 2px 5px;
	transition: all .4s ease-in-out 0s;	
}
.footer-follow-menu ul li + li a:hover{
	background-color:rgb(146 0 59);
	color: #fff;
	box-shadow: 0px 0px 2px 1px rgba(255, 255, 255, 1);
}
.footer-follow-menu ul li + li{
	display: flex;
	gap: 0px .5rem;
	align-items: center;
	justify-content: center;
}

.main-footer{
	color:#fff;
	padding-block: 2rem  
}
.main-footer .f-menu :is(li, a){
	color:#fff;
}
.news-add{
	background-color:#fff;
	border-block:1px solid #fff;
	padding-block:.5rem;
	margin-block:2rem
}
.news-website-add{
	color:#000;
	
}
.news-website-add  a{
	color:rgb(146 0 59);
	
}
.f-menu{
	margin-block:calc(2rem - .5rem);
}
.f-menu li a{
	font-size: clamp(1rem, 2vw, 1.1rem);
	font-weight: 500;
	padding-block: 2px;
	letter-spacing: .1px;
	opacity: .9;
	display: flex;
}

.f-menu li{
	gap:.6rem;
	display: flex;
	align-items: baseline;
}



.news-website-add{
	width:min(450px, 80%);
	text-align:center;
	margin:auto
}
.footer-bottom-details ul li a{
	color:#fff;
	font-size:2.4vmin;
	border-left:1px solid #fff;
	padding:0rem .5rem;
	height: 16px;
	margin-top:5px;
	display: inline-block;
	
}
.news-letter
{
	background-color: #fff;
	display: flex;
	justify-content: space-between;


}

.news-letter .btn-send
{
	background-color: rgb(185, 38, 97);
	color: #fff;
	border: 0px;
	padding: .5rem .7rem;
	font-size: .9em;
	border: 0px;
}

.copy-right{
	margin-block:.5rem;
	font-size:1rem
}
.navbar .btn-close{
	position:absolute;
	right: 12px;
	top:1rem;
	opacity: 1!important;
	background-color:rgb(146 0 59);
	z-index: 99
   
}
.navbar-brand{

	width: 120px;
}
.footer-logo .navbar-brand img{
	width: min(150px, 200px);
}

.dropdown-menu li a{
	color:#fff;
	border-bottom: outset #fff;
    border-width: thin;
	display: block;
	padding: .5rem .5rem ;
	font-size: clamp(1rem, 1vw, 1em);
	font-weight: 400!important;
}
.dropdown-menu li a:hover,
.dropdown-menu li a:focus{
	background-color: rgba(255, 248, 248, 0.1);

}
.dropdown-menu{
	background-color: rgb(146 0 59);
	overflow-y: auto;
}
.today ul li a{
	color:#fff;
	font-size: 15px;
	font-weight: 400;
	display: flex;
	gap:5px;
	padding-block:5px
}
.today ul li a:hover{
	opacity: .8;
}

/*=============top=menu=========================*/

.top-menu{
	border-top:1px solid #ddd;
	border-bottom:1px solid #ddd
}
.top-menu ul,
.achran-focus ul{
	display: flex;
	align-items:center
}
.top-menu ul li{
	border-right:1px solid #ddd;
	padding:.4rem .6em;
	text-align: center;
}
.top-menu ul li:first-child,
.top-menu ul li:nth-child(8){
	border-left:none!important
}
.top-menu ul li:nth-child(9){
	flex:1;
	margin-left:auto;
	border:none!important;
	margin-right: 2px;
	text-align: end;
}
.top-menu ul li a{
	color:rgb(146 0 59);
	font-size: .99rem;
	font-weight: 400;
}
.achran-focus{
	border-bottom: 2px solid #ddd;
	padding-block:.6rem;
	overflow-x: auto;
}
.achran-focus li{
	font-weight: 600;
	color:#92003b;
	font-size: 1.3rem;
	white-space: nowrap;
}
.achran-focus li a{
	color:rgb(146 0 59);
	font-size: 1rem!important;
	margin-inline: .6rem;
}



	
	
















/*--==============second-pge====================--*/

.priview p{
	line-height: 1.6;
	letter-spacing: .2px;
	color:rgb(20, 19, 19)
}
.calender{
	border: 1px solid rgb(207 207 207 / 72%);
	border-radius: 2px;
	padding: 0px 0rem ;
}
.calender a{
	color:rgb(134, 130, 130);
	font-size: .9em;
	padding:3px;
}
.e-paper ul li{
	list-style: decimal;	
}
.e-paper ul li a{	
	display:flex;
	justify-content: space-between;
	color:#000	
}
.e-paper ul li a i{
	font-size:clamp(1.1rem, 2vw, 1.3rem);
}
.e-paper ul li a i:hover{
	color: rgb(146 0 59);
}
.rashi samp img{
	width: 50px;
}
.slider-news .card{
	border:0px;
	border-radius: 0px;
}
.slider-news .card img{
	
	aspect-ratio:  1.3 / 1;
}
.slider-news .card-title{
	font-size: 1rem;
	font-weight: 600;
	line-height: 1.4;
	color:#000
}
.slider-news .card-title:hover{
	color: rgb(146 0 59);
}
.slider-news .card-footer{
	font-size: clamp(14px, 1vw, 1em);	
}


/*=====tag--=menu=======*/
.tag-menu ul li{
	display: flex;
	flex-wrap: wrap;
}
.tag-menu ul li a{
	border:solid  rgb(146 0 59);
	border-width: thin;
	padding: 3px 6px;
	display: flex;
	color:#000;
	margin:5px;
}
.bottom-arrow{
	font-size: clamp(1.4em, 3vw, 1.8rem);
	position: relative;
	
	margin-top: 1.5rem;
}
.bottom-arrow::before{
	content: "";
	position: absolute;
	inset:50% 0 0 150px;
	background:#f5f1f1;
	height: 5px;
}
.calender .news-card ul li a.active{
	color: rgb(146 0 59);
	font-weight: 500;
	font-size: clamp(1.1em, 2vw, 1.2rem);
}
.city{
	min-height: 200px;
	max-height: 400px;
	overflow-y: auto;
}
.top-rajistan a{
	font-size: 1em;
	overflow-y: hidden;
	padding-top: 2rem;
	color:#fff;
	line-height: 20px!important;
}
.top-rajistan .card-img-overlay{
	top:auto;
	bottom:0
}
.news-tab-card.card{
	border: none;
	border-radius: 0px;

}
#myTab-news {
    border-bottom: 3px solid #92003b;
	justify-content: space-around;
}
#myTab-news  .nav-link{
	color: rgb(146 0 59);
	font-weight: 700;
	font-size: 1em;
}
#myTab-news  .nav-link.active{
	background-color:rgb(146 0 59);
	color:#fff
}
.news-tab-card.card .card-body a{
	color:#000

}
.news-tab-card.card .card-body a:hover{
	color:rgb(146 0 59);
}
#myTabContent-news{
	min-height: 200px;
	max-height: 450px;
	overflow-y: auto;
}
.runing-text ul li{
	list-style: circle!important;
	padding-block:.4em;
}
